.card-con {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
